<div class="flex flex-col items-center bg-swatch-1 w-84 rounded-md p-12 shadow-md mb-12">
	<div class="login-icon bg-swatch-8 p-14 rounded-full absolute transform -translate-y-26 shadow-md">
		<i class="icon icon-user absolute transform -translate-x-1/2 -translate-y-1/2 text-5xl text-swatch-5"></i>
	</div>
	<h1 class="text-4xl p-8 font-thin text-swatch-4">Login</h1>
		<button 
			title="Log in using your Google account"
			type="button" 
			class="w-56" 
			(mouseenter)="hover = true;"
			(mouseleave)="hover = false; pressed = false;"
			(mousedown)="pressed = true;"
			(mouseup)="pressed = false; signIn();"
		>
			<img *ngIf="!hover && !pressed" src="/assets/google-sign-in-buttons/normal.png">
			<img *ngIf="hover && !pressed" src="/assets/google-sign-in-buttons/focus.png">
			<img *ngIf="pressed" src="/assets/google-sign-in-buttons/pressed.png">
		
		</button>
		<div *ngIf="message && message.length > 0" class="text-red-500 pt-8">{{message}}</div>
		<!-- Preload -->
		<div class="hidden">
			<img src="/assets/google-sign-in-buttons/normal.png">
			<img src="/assets/google-sign-in-buttons/focus.png">
			<img src="/assets/google-sign-in-buttons/pressed.png">
		</div>
</div>